.ProductDisplayPage {
  display: flex;
  justify-content: center;
  padding: 150px 0 0 0;
  flex-wrap: wrap;
}
.ProductDisplayPage .productGalleryContainer {
  display: flex;
}
.ProductDisplayPage .productGalleryContainer .productImagesWrapper {
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 510px;
}
.ProductDisplayPage .productGalleryContainer .productImagesWrapper .smallProductImage {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  margin: 0 0 20px 0;
  padding: 0;
}
.ProductDisplayPage .productGalleryContainer .bigProductImage {
  width: 610px;
  height: 510px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  margin: 0 50px 0 25px;
}
.ProductDisplayPage .productInfoContainer {
  max-width: 300px;
}
.ProductDisplayPage .productInfoContainer .infoTitle {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  margin: 0 0 8px 0;
  font-size: 18px;
}
.ProductDisplayPage .productInfoContainer .displayedProductName {
  margin: 0 0 30px 0;
  font-family: "Raleway";
  font-weight: normal;
}
.ProductDisplayPage .productInfoContainer .displayedProductName span {
  font-weight: bold;
}
.ProductDisplayPage .productInfoContainer .priceWrapper {
  margin: 25px 0;
}
.ProductDisplayPage .productInfoContainer .priceWrapper .displayedProductPrice {
  font-family: "Raleway";
  font-weight: 700 bold;
  margin: 0;
  font-size: 24px;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper {
  margin: 0 0 15px 0;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper {
  display: flex;
  flex: 0 1 auto;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper p {
  margin: 0;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper .attributeButton {
  cursor: pointer;
  margin: 0 8px 0 0;
  border: 1px solid black;
  font-family: "Source Sans Pro";
  font-weight: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 40px;
  text-align: center;
  padding: 0 2px;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper .attributeButton:hover {
  background-color: rgb(232, 232, 232);
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper .selectedAttribute {
  background-color: black;
  color: white;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper .selectedAttribute:hover {
  background-color: black;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper .attributeButton[type=swatch] {
  padding: 0;
  min-width: 30px !important;
  height: 30px;
  border: none;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper .attributeButton[type=swatch]:hover {
  outline: 2px solid #5ECE7B;
  outline-offset: 1px;
}
.ProductDisplayPage .productInfoContainer .productAttributesContainer .attributeSetWrapper .attributeSetOptionsWrapper .selectedAttribute[type=swatch] {
  outline: 2px solid #5ECE7B;
  outline-offset: 1px;
}
.ProductDisplayPage .productInfoContainer .productAddToCartButton {
  transition-duration: 0.2s;
  box-sizing: border-box;
  border: none;
  background-color: #5ECE7B;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: center;
  width: 100%;
  padding: 16px 32px;
  border: 2px solid #5ECE7B;
}
.ProductDisplayPage .productInfoContainer .productAddToCartButton:hover {
  background-color: white;
  color: #5ECE7B;
  transition-duration: 0.2s;
}
.ProductDisplayPage .productInfoContainer .productDescription {
  font-family: "Roboto";
  font-size: 16px;
}/*# sourceMappingURL=PDP.css.map */